# Epic Title: Implement Adaptive Layouts

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 1em;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    background: #444;
    border-radius: 4px;
}

header nav ul li a:hover {
    background: #555;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    padding: 2em 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

@media (max-width: 768px) {
    header .container {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
    }

    header nav ul li {
        width: 100%;
        text-align: center;
    }

    header nav ul li a {
        display: block;
        width: 100%;
    }
}