# Epic Title: Cross-Browser Compatibility

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 1em;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    background: #444;
    border-radius: 4px;
}

header nav ul li a:hover {
    background: #555;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    padding: 2em 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

@media (max-width: 768px) {
    header .container {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
    }

    header nav ul li {
        width: 100%;
        text-align: center;
    }

    header nav ul li a {
        display: block;
        width: 100%;
    }
}

/* Adding vendor prefixes for cross-browser compatibility */
header nav ul li a {
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

header nav ul li a:hover {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

header, main, footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.container {
    -webkit-width: 90%;
    -moz-width: 90%;
    -ms-width: 90%;
    -o-width: 90%;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    margin-top: 2em;
    text-align: center;
}