# Epic Title: Responsive Design

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">My Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/auth/register">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="/account/settings">Account Settings</a></li>
        </ul>
    </div>
</nav>

# File 2: Updated Base Template with Consistent Navbar in templates/base.html