# Epic Title: Role-based Access Control

{% extends "base.html" %}

{% block title %}Create New Role{% endblock %}

{% block content %}
<h2>Create New Role</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }}<br>
        {{ form.name(size=20) }}
    </div>
    <div>
        {{ form.description.label }}<br>
        {{ form.description(rows=5) }}
    </div>
    <div>
        <button type="submit">Create Role</button>
    </div>
</form>
{% endblock %}


# File 10: Update Main App to Register Role Controller in app.py