/* Epic Title: Quick Access to Features */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.navbar {
    background-color: #f4f4f4;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    padding: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
    text-align: center;
}

@media (max-width: 1024px) {
    header h1, .navbar ul, main, footer p {
        font-size: 1.5em;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        padding: 5px;
    }
}

@media (max-width: 768px) {
    header h1, .navbar ul, main, footer p {
        font-size: 1.2em;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        padding: 5px;
    }
}

@media (max-width: 480px) {
    header h1, .navbar ul, main, footer p {
        font-size: 1em;
    }
    
    .navbar ul {
        flex-direction: column;
    }

    .navbar ul li {
        padding: 5px;
    }
}